Repository ismaeldosil/llmengineer-platform: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

feat(web): Sprint UI components - XPBar, BadgeGrid, LevelBadge, Animations, Skeleton, EmptyState, enhanced ModuleCard/LessonCard
  apps/web/global.css
  apps/web/src/components/molecules/BadgeGrid.tsx
  apps/web/src/components/molecules/LessonCard.tsx
  apps/web/src/components/molecules/LevelBadge.tsx
  apps/web/src/components/molecules/ModuleCard.tsx
  apps/web/src/components/molecules/XPBar.tsx
  apps/web/src/components/molecules/__tests__/BadgeGrid.test.tsx
  apps/web/src/components/molecules/__tests__/LessonCard.test.tsx
  apps/web/src/components/molecules/__tests__/LevelBadge.test.tsx
  apps/web/src/components/molecules/__tests__/ModuleCard.test.tsx
  apps/web/src/components/molecules/__tests__/XPBar.test.tsx
  apps/web/src/components/molecules/index.ts
  apps/web/src/components/ui/Animated.tsx
  apps/web/src/components/ui/EmptyState.tsx
  apps/web/src/components/ui/Skeleton.tsx
  apps/web/src/components/ui/index.ts
Due: web

feat: Sprint 3 Polish & Games - Tests, Games Hub, CodeCompletion
  apps/api/src/lessons/lessons.service.spec.ts
  apps/web/app/games/index.tsx
  apps/web/src/components/games/GameCard.tsx
  apps/web/src/components/games/__tests__/GameCard.test.tsx
  apps/web/src/components/games/index.ts
  apps/web/src/components/quiz/CodeCompletion.tsx
  apps/web/src/components/quiz/__tests__/CodeCompletion.test.tsx
  apps/web/src/components/quiz/index.ts
Due: web

feat: Sprint 4 Quality - Tests, Rate Limiting, User Stats API
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.e2e-spec.ts
  apps/api/src/badges/badges.controller.ts
  apps/api/src/common/guards/README.md
  apps/api/src/common/guards/custom-throttler.guard.spec.ts
  apps/api/src/common/guards/custom-throttler.guard.ts
  apps/api/src/gamification/gamification.module.ts
  apps/api/src/gamification/gamification.service.spec.ts
  apps/api/src/gamification/gamification.service.ts
  apps/api/src/leaderboard/leaderboard.controller.ts
  apps/api/src/lessons/lessons.controller.ts
  apps/api/src/quiz/quiz.controller.ts
  apps/api/src/streaks/streaks.controller.ts
  apps/api/src/users/dto/index.ts
  apps/api/src/users/dto/user-stats.dto.ts
  apps/api/src/users/users.controller.spec.ts
  apps/api/src/users/users.controller.ts
  apps/api/src/users/users.service.spec.ts
  apps/api/src/users/users.service.ts
  apps/api/test/README.md
  apps/api/test/TROUBLESHOOTING.md
  apps/api/test/jest-e2e.json
  apps/api/test/setup-e2e.ts
  apps/web/src/components/molecules/__tests__/LessonCard.test.tsx
  apps/web/src/components/molecules/__tests__/ProgressCard.test.tsx
  apps/web/src/components/ui/Button.tsx
  apps/web/src/components/ui/Icon.tsx
  apps/web/src/components/ui/Input.tsx
  apps/web/src/components/ui/__tests__/Button.test.tsx
  apps/web/src/components/ui/__tests__/Icon.test.tsx
  apps/web/src/components/ui/__tests__/Input.test.tsx
  apps/web/src/components/ui/index.ts
  package-lock.json
Due: api, web

feat: UI improvements for lessons and dashboard
  apps/api/Dockerfile
  apps/api/prisma/content/lessons/api-basics.json
  apps/api/prisma/content/lessons/intro-to-llms.json
  apps/api/prisma/load-content.ts
  apps/api/prisma/schema.prisma
  apps/api/src/auth/auth.e2e-spec.ts
  apps/api/src/common/guards/custom-throttler.guard.ts
  apps/web/.gitignore
  apps/web/app/_layout.tsx
  apps/web/app/dashboard/index.tsx
  apps/web/app/index.tsx
  apps/web/app/lessons/[id].tsx
  apps/web/app/lessons/index.tsx
  apps/web/index.js
  apps/web/nativewind-env.d.ts
  apps/web/package.json
  apps/web/src/components/atoms/MarkdownContent.tsx
  apps/web/src/components/layout/MainLayout.tsx
  apps/web/src/components/molecules/GlobalProgress.tsx
  apps/web/src/components/molecules/LessonCard.tsx
  apps/web/src/components/molecules/ModuleCard.tsx
  apps/web/src/components/molecules/StatsGrid.tsx
  apps/web/tsconfig.json
  packages/shared/src/types/lesson.ts
Due: api, web

fix: remove unused imports in dashboard
  apps/web/app/dashboard/index.tsx
Due: web

chore: add eslint-disable for load-content script
  apps/api/prisma/load-content.ts
Due: none

feat: UI improvements for lessons and dashboard (#122)
  apps/api/Dockerfile
  apps/api/prisma/content/lessons/api-basics.json
  apps/api/prisma/content/lessons/intro-to-llms.json
  apps/api/prisma/load-content.ts
  apps/api/prisma/schema.prisma
  apps/api/src/auth/auth.e2e-spec.ts
  apps/api/src/common/guards/custom-throttler.guard.ts
  apps/web/.gitignore
  apps/web/app/_layout.tsx
  apps/web/app/dashboard/index.tsx
  apps/web/app/index.tsx
  apps/web/app/lessons/[id].tsx
  apps/web/app/lessons/index.tsx
  apps/web/index.js
  apps/web/nativewind-env.d.ts
  apps/web/package.json
  apps/web/src/components/atoms/MarkdownContent.tsx
  apps/web/src/components/layout/MainLayout.tsx
  apps/web/src/components/molecules/GlobalProgress.tsx
  apps/web/src/components/molecules/LessonCard.tsx
  apps/web/src/components/molecules/ModuleCard.tsx
  apps/web/src/components/molecules/StatsGrid.tsx
  apps/web/tsconfig.json
  packages/shared/src/types/lesson.ts
Due: api, web

fix: resolve TypeScript errors in web package
  apps/web/app/auth/__tests__/login.test.tsx
  apps/web/app/auth/__tests__/register.test.tsx
  apps/web/app/auth/_layout.tsx
  apps/web/app/auth/login.tsx
  apps/web/app/auth/register.tsx
  apps/web/app/index.tsx
  apps/web/app/lessons/[id].tsx
  apps/web/app/lessons/index.tsx
  apps/web/src/components/games/embedding-match/useEmbeddingMatch.ts
  apps/web/src/components/games/prompt-golf/PromptGolfGame.tsx
  apps/web/src/components/molecules/__tests__/LeaderboardWidget.test.tsx
  apps/web/src/components/profile/ActivityHistory.example.tsx
  apps/web/src/components/profile/__tests__/ActivityHistory.test.tsx
  apps/web/src/components/quiz/CodeCompletion.tsx
  apps/web/src/components/quiz/MultipleChoice.tsx
  apps/web/src/components/quiz/QuizModal.tsx
  apps/web/src/components/ui/Animated.tsx
  apps/web/src/components/ui/Skeleton.tsx
  apps/web/src/components/ui/__tests__/Button.test.tsx
  apps/web/src/components/ui/__tests__/Icon.test.tsx
Due: web

fix: fix all failing tests
  apps/web/src/components/layout/Navbar.tsx
  apps/web/src/components/molecules/__tests__/LeaderboardWidget.test.tsx
  apps/web/src/components/molecules/__tests__/LessonCard.test.tsx
  apps/web/src/components/molecules/__tests__/ModuleCard.test.tsx
  apps/web/src/components/quiz/__tests__/QuizModal.test.tsx
Due: web

fix: adjust CI thresholds and console.log checks
  .github/workflows/pr-checks.yml
  apps/api/jest.config.js
  apps/web/src/components/gamification/ActivityGraph.tsx
Due: web

fix: relax web coverage thresholds for CI
  apps/web/jest.config.js
Due: none

fix: lower web coverage threshold to match actual coverage (45%)
  apps/web/jest.config.js
Due: none

feat: add health check endpoint for Vercel deployment
  apps/web/assets/health.json
  apps/web/vercel.json
  vercel.json
Due: none

fix: change Expo web output to 'single' for Vercel deployment
  apps/web/app.json
Due: web

docs: add .env.example for web app
  apps/web/.env.example
Due: none

feat: improve CORS configuration for production
  apps/api/src/main.ts
Due: none

feat: add markdown table support in lessons
  apps/web/src/components/atoms/MarkdownContent.tsx
Due: web

feat: add complete lesson content for weeks 2-5
  README.md
  apps/api/prisma/content/lessons-1-2.ts
  apps/api/prisma/content/lessons-3-4.ts
  apps/api/prisma/content/lessons-5-6.ts
  apps/api/prisma/content/lessons-7-8.ts
  apps/api/prisma/content/lessons-9-10.ts
  apps/api/scripts/generate-lesson-jsons.ts
  apps/api/scripts/sync-content.ts
Due: none

fix: escape backticks in lesson TypeScript files for proper parsing
  apps/api/prisma/content/lessons-1-2.ts
  apps/api/prisma/content/lessons-3-4.ts
  apps/api/prisma/content/lessons-7-8.ts
  apps/api/scripts/sync-content.ts
  apps/api/scripts/sync-from-ts.ts
Due: none

feat: add complete lesson content for weeks 2-5 (#128)
  README.md
  apps/api/prisma/content/lessons-1-2.ts
  apps/api/prisma/content/lessons-3-4.ts
  apps/api/prisma/content/lessons-5-6.ts
  apps/api/prisma/content/lessons-7-8.ts
  apps/api/prisma/content/lessons-9-10.ts
  apps/api/scripts/generate-lesson-jsons.ts
  apps/api/scripts/sync-content.ts
Due: none

docs: update documentation with content sync scripts and lesson structure
  CLAUDE.md
  README.md
Due: none

feat: add search functionality across lesson content
  apps/api/src/lessons/dto/search-lesson.dto.ts
  apps/api/src/lessons/lessons.controller.ts
  apps/api/src/lessons/lessons.service.spec.ts
  apps/api/src/lessons/lessons.service.ts
  apps/web/app/lessons/index.tsx
  apps/web/src/components/lessons/LessonSearch.tsx
  apps/web/src/components/lessons/index.ts
  apps/web/src/services/api.ts
Due: api, web

test: add LessonSearch component tests
  apps/web/src/components/lessons/__tests__/LessonSearch.test.tsx
Due: none

docs: add advanced LLM engineering curriculum roadmap
  README.md
Due: none

feat: add advanced LLM engineering lessons (11-20)
  apps/api/prisma/content/lessons-11-12.ts
  apps/api/prisma/content/lessons-13-14.ts
  apps/api/prisma/content/lessons-15-16.ts
  apps/api/prisma/content/lessons-17-18.ts
  apps/api/prisma/content/lessons-19-20.ts
  apps/api/prisma/seed.ts
  apps/api/scripts/sync-from-ts.ts
Due: none

docs: update README to reflect completed advanced lessons
  README.md
Due: none

feat: add collapsible sidebar with toggle button
  apps/web/src/components/layout/MainLayout.tsx
  apps/web/src/components/layout/Sidebar.tsx
  apps/web/src/components/layout/__tests__/MainLayout.test.tsx
  apps/web/src/components/layout/__tests__/Sidebar.test.tsx
  apps/web/src/hooks/__tests__/useSidebarCollapsed.test.ts
  apps/web/src/hooks/useSidebarCollapsed.ts
Due: web

fix: use result variable in useSidebarCollapsed test
  apps/web/src/hooks/__tests__/useSidebarCollapsed.test.ts
Due: none

refactor: move sidebar toggle to header area
  .vercel/README.txt
  .vercel/project.json
  IMPLEMENTATION_SUMMARY_CONT-003.md
  apps/api/.env.test
  apps/api/LEADERBOARD_POSITION_CHANGES.md
  apps/api/TEST-005-SUMMARY.md
  apps/api/prisma/load-full-content.ts
  apps/web/src/components/layout/Sidebar.tsx
  apps/web/src/components/layout/__tests__/Sidebar.test.tsx
  tsconfig.json
Due: web

refactor: move toggle chevron into Dashboard button
  apps/web/src/components/layout/Sidebar.tsx
  apps/web/src/components/layout/__tests__/Sidebar.test.tsx
Due: web

fix: resolve TypeScript errors for transition styles
  apps/web/src/components/layout/Sidebar.tsx
Due: web

feat: add game scores API and edit profile modal
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/games/scores/dto/game-score-response.dto.ts
  apps/api/src/games/scores/dto/get-leaderboard.dto.ts
  apps/api/src/games/scores/dto/index.ts
  apps/api/src/games/scores/dto/submit-game-score.dto.ts
  apps/api/src/games/scores/scores.controller.spec.ts
  apps/api/src/games/scores/scores.controller.ts
  apps/api/src/games/scores/scores.module.spec.ts
  apps/api/src/games/scores/scores.module.ts
  apps/api/src/games/scores/scores.service.spec.ts
  apps/api/src/games/scores/scores.service.ts
  apps/api/src/lessons/lessons.service.spec.ts
  apps/api/src/users/dto/update-profile.dto.ts
  apps/api/src/users/users.service.ts
  apps/web/app/games/index.tsx
  apps/web/app/profile/index.tsx
  apps/web/src/components/games/embedding-match/EmbeddingMatchGame.tsx
  apps/web/src/components/games/embedding-match/GameResult.tsx
  apps/web/src/components/games/embedding-match/__tests__/GameResult.test.tsx
  apps/web/src/components/games/token-tetris/TokenTetrisGame.tsx
  apps/web/src/components/profile/EditProfileModal.tsx
  apps/web/src/components/profile/__tests__/EditProfileModal.test.tsx
  apps/web/src/services/__tests__/api.test.ts
  apps/web/src/services/api.ts
  apps/web/src/store/index.ts
  packages/shared/src/index.ts
  packages/shared/src/types/user.ts
Due: api, web

fix: unify background color to prevent white flash on rotation
  apps/web/app.json
  apps/web/app/(tabs)/badges.tsx
  apps/web/app/(tabs)/games/index.tsx
  apps/web/app/_layout.tsx
  apps/web/app/auth/_layout.tsx
  apps/web/app/auth/login.tsx
  apps/web/app/auth/register.tsx
  apps/web/app/dashboard/_layout.tsx
  apps/web/app/games/_layout.tsx
  apps/web/app/games/index.tsx
  apps/web/app/games/token-tetris.tsx
  apps/web/app/index.tsx
  apps/web/app/leaderboard/_layout.tsx
  apps/web/app/leaderboard/index.tsx
  apps/web/app/lessons/[id].tsx
  apps/web/app/lessons/_layout.tsx
  apps/web/app/lessons/index.tsx
  apps/web/app/profile/_layout.tsx
  apps/web/app/profile/index.tsx
  apps/web/app/profile/settings.tsx
Due: web

fix: resolve TypeScript errors and SPA routing 404
  apps/api/src/users/users.service.spec.ts
  apps/web/src/store/index.ts
  apps/web/vercel.json
  vercel.json
Due: web

feat(lessons): remove lesson locking to allow unrestricted access
  apps/web/src/components/molecules/LessonCard.tsx
  apps/web/src/components/molecules/__tests__/LessonCard.test.tsx
Due: web

Path conditions:
  api: any of: apps/api/src, but not: **/*.spec.ts, **/*.spec.tsx, **/*.test.ts, **/*.test.tsx, **/test/**, **/tests/**, **/__tests__/**, **/*.d.ts, **/node_modules/**, apps/api/src/**/*.dto.ts, apps/api/src/**/*.module.ts, apps/api/src/**/*.interface.ts, apps/api/src/main.ts, apps/api/prisma/**, apps/web/babel.config.js, apps/web/metro.config.js, apps/web/jest.config.js, apps/web/jest.setup.js, packages/**/dist/**, infra/**, scripts/**
  web: any of: apps/web/src, apps/web/app, but not: **/*.spec.ts, **/*.spec.tsx, **/*.test.ts, **/*.test.tsx, **/test/**, **/tests/**, **/__tests__/**, **/*.d.ts, **/node_modules/**, apps/api/src/**/*.dto.ts, apps/api/src/**/*.module.ts, apps/api/src/**/*.interface.ts, apps/api/src/main.ts, apps/api/prisma/**, apps/web/babel.config.js, apps/web/metro.config.js, apps/web/jest.config.js, apps/web/jest.setup.js, packages/**/dist/**, infra/**, scripts/**
